.container-404 {
  min-height: 532px;
}

.text-404 {
  font-weight: 700;
  text-shadow: 4px 3px 9px var(--black);
  margin: 187px auto 60px;
}

.plain-section-header {
  width: 100%;
  text-align: center;
  padding: 25px;
}

.post-container {
  padding: 25px;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.post-image {
  min-height: 250px;
  object-fit: cover;
  display: block;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.post {
  display: grid;
  min-height: fit-content;
  margin: 0 15px 15px 15px;
  background-color: var(--meddark-gray);
  grid-template-columns: min(34%, 350px) auto;
  align-items: stretch;
}

.post-subtitle {
  font-size: 1.25em;
  margin-bottom: 15px;
  color: var(--light-gray);
}

.post-no-img {
  display: grid;
  min-height: 250px;
  margin: 0 15px 15px 15px;
  background-color: var(--meddark-gray);
  grid-template-columns: 1fr;
  align-items: center;
  padding: 10px 20px 10px 10px;
}

.preview-content {
  width: 100%;
  padding: 25px;
}

.preview-headline:hover {
  color: var(--light-red);
}

@media (max-width: 767px) {
  .post {
    grid-template-columns: 100%;
    justify-items: stretch;
    align-items: normal;
  }

  .preview-content {
    padding: 10px 20px;
  }

  .post-image {
    height: 210px;
  }
}

footer {
  padding: 40px;
  display: flex;
  background-color: var(--footer-bg);
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

footer>* {
  font-weight: normal;
  font-size: medium;
  height: 40px;
  min-width: 70%;
  text-align: center;
}

.section-header {
  background-color: var(--header-bg);
  text-align: center;
  border-bottom: 5px solid var(--light-red);
}

.section-header h1 {
  padding: 10px 0;
  margin: 0;
}

.small-page-container>p {
  word-wrap: break-word;
  position: relative;
  text-align: center;
}

.small-page-container {
  min-height: max(400px, calc(100vh - 288px - 229px - 45.59px));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  padding: 50px;
  gap: 25px;
}

.display-font {
  font-family: 'Titillium Web';
  font-size: 1.3em;
}

.container-home {
  display: flex;
  flex-direction: column;
  padding: 85px 25px 50px 25px;
  align-items: center;
  background-color: var(--black);
  text-align: center;
}

.container-home>* {
  margin: 0;
  line-height: 1;
}

.container-home>h1,
.container-home>h2 {
  font-weight: 700;
  letter-spacing: -1px;
}

.container-home>h1 {
  font-size: 2.25em;
}

.container-home>h2 {
  font-size: 2em;
}

.container-home>.btn {
  margin: 40px auto;
}

.container-home>p {
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 25px;
}

.display-img-div {
  background-image: url("../images/moshed-trees23.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 5px 20px black;
  min-height: 350px;
  font-family: 'Titillium Web';
  font-size: 1.3em;
}

@media (max-width: 626px) {
  .display-img-div {
    min-height: 420px;
  }
}

.preview-summary {
  display: block;
}

.header {
  position: relative;
  background-color: var(--header-bg);
}

.container-nav {
  display: grid;
  justify-items: center;
  position: relative;
  margin: 27px auto;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  min-height: 175px;
}

#brand-1,
#brand-2 {
  font-size: 48px;
}

#brand-1 {
  grid-column: 1;
}

.logo {
  width: 170px;
  height: 175px;
  margin: 0 auto;
}

.logo>img {
  width: 100%;
  height: 100%;
}

.container-nav a {
  grid-column: 2;
}

#brand-2 {
  grid-column: 3;
}

@media (max-width: 992px) {
  .container-nav h1 {
    font-size: 36px;
  }
}

@media (max-width: 575px) {
  .container-nav {
    margin-top: 27px;
    margin-bottom: 27px;
    grid-template-columns: repeat(1, 1fr);
  }

  #brand-1,
  #brand-2 {
    margin: 0;
  }

  #brand-1 {
    grid-column: 1;
    grid-row: 1;
  }

  .container-nav a {
    grid-column: 1;
    grid-row: 2;
  }

  #brand-2 {
    grid-column: 1;
    grid-row: 3;
  }
}

.menu-item {
  text-align: center;
  padding: 10px;
}

.menu-item>a {
  color: var(--nav-text);
  font-weight: 500;
  width: 100%;
  display: block;
}

.menu-item>a:hover {
  color: var(--nav-hover-text);
}

@media (max-width: 530px) {
  .menu-item {
    text-align: left;
    padding: 6px;
    font-weight: 700;
  }

  .u-home-section-2 .u-home-text-1 {
    font-size: 1.5rem;
    margin: 60px 0 60px 0;
  }

  .u-home-section-2 .home-sheet {
    min-height: 700px;
  }
}

.container-faq {
  margin: 0 50px 25px 50px;
}

.inner-post-container {
  margin: auto;
}

section.post-head-container>div.inner-post-container {
  margin-top: 100px;
  margin-bottom: 50px;
}

h1.post-title {
  font-size: 2.75em;
}

.post-tail {
  min-height: 100px;
}

@media (min-width: 1400px) {
  .inner-post-container,
  .container-nav {
    width: var(--theme-sheet-width-xxl) !important;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {

  .inner-post-container,
  .container-nav {
    width: var(--theme-sheet-width-xl) !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {

  .inner-post-container,
  .container-nav {
    width: var(--theme-sheet-width-lg) !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .inner-post-container,
  .container-nav {
    width: var(--theme-sheet-width-md) !important;
  }
  #brand-1, #brand-2 {
      font-size: 36px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {

  .inner-post-container,
  .container-nav {
    width: var(--theme-sheet-width-sm) !important;
  }
  #brand-1, #brand-2 {
    font-size: 30px;
}
}

@media (max-width: 575px) {

  .inner-post-container,
  .container-nav {
    width: var(--theme-sheet-width-xs) !important;
  }
  #brand-1, #brand-2 {
    font-size: 36px;
}
}

table {
  border-collapse: collapse;
  margin: auto;
  width: 100%
}

td,
th {
  padding: 10px 20px;
}

thead {
  background-color: var(--black);
  color: var(--white);
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: solid 2px var(--light-gray);
  text-align: left;
}

a>h2 {
  color: var(--white);
}

pre {
  background-color: var(--black);
  padding: 20px;
  box-shadow: 5px 5px 5px rgb(10, 10, 10);
}

.footnotes {
  border-top: solid;
  margin-top: 75px;
}

@media (max-width: 439px) {
  .display-img-div {
    min-height: 515px;
  }

  .post-image {
    width: 100%;
    min-height: 230px;
  }

  footer {
    padding: 40px 25px;
  }

  .post-container {
    padding: 15px 0;
  }

  .post {
    margin: 0 15px 30px 15px;
  }

  .small-page-container {
    padding: 15px;
    gap: 0;
  }
}

@media (max-width: 575px) {

  .post-container {
    padding: 25px 0;
  }

  .post {
    margin: 0 15px 30px 15px;
  }

  .container-faq {
    margin: 0 15px 23px 15px;
  }

  .small-page-container {
    font-size: 18px;
  }
}

@media (min-width: 260px) and (max-width: 359px) {

  body {
    word-break: break-word;
  }

  .inner-post-container,
  .container-nav {
    width: var(--theme-sheet-width-xxs) !important;
  }

  a {
    word-break: break-all;
  }

  .btn {
    font-size: 14px;
    padding-right: 15px;
    padding: 15px 25px;
  }

  footer {
    padding: 40px 10px;
  }

  footer>* {
    font-size: 14px;
  }

  .preview-headline {
    font-size: 1.75em !important;
    word-break: break-word;
  }

  .preview-meta,
  .preview-summary {
    font-size: 14px;
  }

  .display-img-div {
    min-height: 680px;
  }
}

@media (max-width: 259px) {
  .inner-post-container,
  .container-nav {
    width: var(--theme-sheet-width-xxxs) !important;
  }
}

#video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}