---
layout: home
title: "Home"
---
<section class="u-black u-clearfix u-section-4" id="sec-6292">
    <div class="u-clearfix u-sheet u-valign-middle u-home-sheet-1">
        <h1 class="u-align-center u-text u-home-text-1">updates</h1>
    </div>
</section>
  <section class="u-clearfix u-valign-middle u-home-section-5" id="sec-4203">
    {% for post in paginator.posts %}
    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-container-style u-image u-layout-cell u-size-30 u-home-image-1" data-image-width="400" data-image-height="265">
            <div class="u-container-layout u-home-container-layout-1"></div>
          </div>
          <div class="u-align-left u-container-style u-layout-cell u-size-30 u-home-layout-cell-2">
            <div class="u-container-layout u-container-layout-2">
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <h2 class="u-text u-home-text-1">{{ post.title }}</h2>
                </a>
                <p class="u-text u-home-text-2">Posted on {{ post.date | date: "%B %-d, %Y" }} </p>
              <p class="u-text u-home-text-3">{{ post.content | strip_html | truncate:200 }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </section>
  {% if psize == 0 %} 
    <p>No updates yet</p>
  {% endif %}
    <!-- Pager
    {% if paginator.total_pages > 1 %}
    <div class="pagination">
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | relative_url }}">&larr; Prev</a>
        {% else %}
            <span>&larr; Prev</span>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
                <p>{{ page }}</p>
            {% elsif page == 1 %}
                <a href="{{ '/' | relative_url }}">{{ page }}</a>
            {% else %}
                <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | relative_url }}">Next &rarr;</a>
        {% else %}
            <span>Next &rarr;</span>
        {% endif %}
    </div>
    {% endif %} -->