<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    {% if site.RSS %}
                    <li>
                        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                            <span>
                                <i class="ico-rss"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.twitter_username %}
                    <li>
                        <a href="https://twitter.com/{{ site.twitter_username }}">
                            <span>
                                <i class="ico-twitter"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.instagram_username %}
                    <li>
                        <a target="_blank" href="https://instagram.com/{{ site.instagram_username }}">
                            <span>
                                <i class="ico-instagram"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.mastodon_username %}
                    <li>
                        <a target="_blank" href="{{ site.mastodon_username }}">
                            <span>
                                <i class="ico-mastodon"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <p class="copyright text-muted">
                    Copyright &copy; Dual Power Midwest {{ site.time | date: '%Y' }}
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- TODO: Work to remove JQuery and to refab bootstrap -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/js/clean-blog.js " | prepend: site.baseurl }}"></script>

<!-- async load function -->
<script>
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
</script>

<!--fastClick.js -->
<script>
    async("//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js", function(){
        var $nav = document.querySelector("nav");
        if($nav) FastClick.attach($nav);
    })
</script>