<footer class="u-align-center u-black u-clearfix u-footer u-footer" id="sec-6649"><div class="u-clearfix u-sheet u-sheet-1">
    <p class="u-text u-text-palette-5-light-3 u-text-1">Dual Power Midwest
      <span class="u-file-icon u-icon u-text-white u-icon-1">
        <img src="{{ "/images/9058847-0b95502d.png" | prepend: site.baseurl }}" alt="copy left icon">
      </span>
      &nbsp;2023
      <br>
      <span style="font-size: 14px;">copyleft, all wrongs reserved</span>
      <br>
      <br>
    </p>
    <p class="u-text u-text-2">
      <a href="https://opencollective.com/dual-power-gathering/events/dual-power-midwest-e5e522c8" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-4-light-1 u-btn-1" target="_blank">
        <span class="u-file-icon u-icon u-text-palette-4-light-1 u-icon-2"><img src="{{ "/images/2967188-3c004ad6.png" | prepend: site.baseurl }}" alt=""></span>&nbsp;open collective
      </a>
      <br>
    </p>
    <p class="u-text u-text-3">
      <a href="mailto:{{site.email}}" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-4-light-1 u-btn-2">
        <i class="ico-envelop"></i> &nbsp;{{site.email}} </a>
      <br>
      <a href="https://kolektiva.social/@dpgmidwest"><i class="ico-mastodon"></i> icodpgmidwest@kolektiva.social</a>
    </p>
  </div>
</footer>