<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ site.favicon | prepend: site.baseurl }}">

    {% include tags/seo.html %}
    {% include tags/robots.html %}
    {% include tags/card-preview.html %}

    <!-- Favicon -->
    <link rel="stylesheet" href="{{ "/css/stylesheet.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/fonts.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/icons.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/default.css" | prepend: site.baseurl }}">

    <script type="application/ld+json">{% include schemas/organization.json %}</script>
</head>