<header class=" u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-clearfix u-header u-section-row-container">
  <div class="u-section-rows">
    <div class="u-black u-clearfix u-section-row">
      <div class="u-clearfix u-nav-orient u-sheet u-valign-middle u-sheet-1">
        <h1 id="u-nav-text-1" class="u-text-palette-5-light-3">DUAL POWER</h1>
        <a class="u-image u-logo u-image-1" data-image-width="500" data-image-height="500">
          <img src="images/logo-dark-shadow-line.png" class="u-logo-image u-logo-image-1">
        </a>
        <h1 id="u-nav-text-2" class="u-text-palette-5-light-3">Midwest</h1>
      </div>
    </div>
    <div class="u-palette-1-dark-2 u-section-row u-menu-orient">
      <div class="menu-item">
          <a class="u-button-style u-nav-link u-text-white" href="{{ "/index.html" | prepend: site.baseurl }}">Home</a>
        </div>
        <div class="menu-item">
          <a class="u-button-style u-nav-link u-text-white" href="{{ "/updates.html" | prepend: site.baseurl }}">Updates</a>
        </div>
        <div class="menu-item">
          <a class="u-button-style u-nav-link u-text-white" href="{{ "/contact.html" | prepend: site.baseurl }}">Contact</a>
        </div>
        <div class="menu-item">
          <a class="u-button-style u-nav-link u-text-white" href="{{ "/contribute.html" | prepend: site.baseurl }}">Contribute</a>
        </div>
    </div>
  </div>
</header>