<header class="container header">
  <div class="container-nav">
    <h1 id="brand-1">Dual Power</h1>
    <a class="logo" href="{{ site.baseurl }}/">
      <img alt="Logo" aria-hidden="true" src="{{ site.logo | prepend: site.baseurl }}"
        class="u-logo-image u-logo-image-1">
    </a>
    <h1 id="brand-2">Midwest</h1>
  </div>
  <div class="nav-bar">
    <div class="menu-item">
      <a href="{{ site.baseurl }}/">Home</a>
    </div>
    {% for page in site.pages %}
    {% if page.nav-include %}
    <div class="menu-item">
      <a href="{{ page.url | prepend: site.baseurl }}">
        {% if page.nav-title %}{{ page.nav-title }}
        {% else %}{{ page.title }}{% endif %}
      </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</header>