---
layout: default
---
<section class="u-black u-clearfix u-valign-middle u-home-section-1" id="carousel_cc64">
  <div class="u-clearfix u-expanded-width u-layout-wrap u-home-layout-wrap-1">
    <div class="u-layout">
      <div class="u-layout-row">
        <div class="u-align-center u-container-style u-layout-cell u-size-60 u-home-layout-cell-1">
          <div class="u-container-layout u-home-container-layout-1">
            <h1 class="u-text u-home-text-1">Dual Power Gathering Midwest 2023<br></h1>
            <h1 class="u-text u-home-text-2">August 17th - 20th<br></h1>
            <h1 class="u-text u-home-text-3">Chicago<br></h1>
            <a href="https://opencollective.com/dual-power-gathering/events/dual-power-midwest-e5e522c8" class="u-active-none u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-home-btn-1" target="_blank">RSVP on open collective</a>
            <h1 class="u-text u-home-text-4">
              Masks will be required
              <br>
              RSVP is for expected count and Fundraising Only
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="u-clearfix u-image u-home-section-2" id="sec-cacc" data-image-width="918" data-image-height="260">
  <div class="u-clearfix u-sheet u-home-sheet-1">
    <p class="u-align-left u-custom-font u-font-titillium-web u-large-text u-text u-text-palette-3-light-3 u-text-variant u-home-text-1">
      <span style="font-weight: 700;">
        Dual Power Gathering Midwest
      </span>
      will take place on the traditional lands of the Miami, Potawatomi, and Kickapoo.
      The campsite is approximately 30 minutes south of downtown Chicago.
    </p>
  </div>
</section>

<section class="u-black u-clearfix u-section-4" id="sec-6292">
  <div class="u-clearfix u-sheet u-valign-middle u-home-sheet-1">
    <h1 class="u-align-center u-text u-home-text-1">About the event</h1>
  </div>
</section>

<section class="u-clearfix u-palette-1-dark-3 u-home-section-3" id="sec-bfe7">
  <div class="u-clearfix u-sheet u-home-sheet-1">
    <p class="u-large-text u-text u-text-variant u-home-text-2">
      DPG Midwest is a follow-up to the national Dual Power Gathering at the Indiana Dunes in 2022,
      but is more regionally focused in an attempt to bring people from the midwest together to meet,
      spend time together, and discuss dual power strategies. Those beyond this region are
      certainly welcome as well.
    </p>
    <p class="u-text u-home-text-3">
      Similar to DPG 2022, the event will be structured using an unconference model, and will be an 
      experiment in collective learning and relationship building. During the event, we hope to
      foster an atmosphere of generative co-learning and co-creativity. We want to connect people
      and bring them together around shared work.
      <br>
      <br>
      We seek to create a space where ideas are exchanged, stories are told, and futures are imagined,
      especially in the context of building dual power. With a few exceptions, the gathering won't have
      a solid schedule going into it. Rather, we'll collectively create the spaces we want and need
      to see throughout the weekend.
      <br>
      <br>
      What we saw last year and what we hope to see this year
      <br>
    </p>
    <ul class="u-text u-home-text-4">
      <li> Mapping and growing Dual Power in your area</li>
      <li> Crafting stories and narratives around our movements</li>
      <li>Building utopian visions</li>
      <li> Workshops and skill-shares</li>
      <li>Conversations about how white supremacy, ableism, transphobia, and other forms of 
      hierarchical power arise in social movement spaces<br></li>
      <li>Education and analysis of specific theories and strategies for liberation<br></li>
      <li>Building connections for local food sovereignty and food justice<br></li>
      <li>Collective strategies for ecological disaster and ecosystem collapse<br></li>
      <li>Regionally-focused conversations, like building resource-sharing networks, growing the 
      capacity to act in regional solidarity, discovering our shared struggles<br></li>
    </ul>
    <p class="u-text u-home-text-5">
      In addition to the self-organized unconference sessions, you can also expect many shared meals
      and collaborative art making :)<br>
      <br>
      ADA accessible cabins/camping space, ADA compliant bathrooms + showers, a limited shuttling service,
      and vegan food will be available to all participants. Participation in the gathering is open to
      everyone, not just those camping: feel free to participate on any day in any activity or session
      that you choose to! We want the event to be as accessible as possible. If you have any access needs
      that you would like to share or any questions about the accessibility of the event, please feel
      free to get in touch with us at
      <a href="mailto:{{site.email}}" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-4-light-1 u-home-btn-1">
        {{site.email}}
      </a>.
      <br>
    </p>
  </div>
</section>

{{ content }}