---
layout: default
---

<section class="post-head-container">
    <div class="inner-post-container">
        <h1 class="post-title">{{ page.title }}</h1>
        {% if page.subtitle %}
            <p class="post-subtitle">{{ page.subtitle }}</p>
        {% endif %}
        <p class="post-meta">
            {% if post.icon %}<i class="ico-{{ post.icon }}"></i>
            {% else %}<i class="ico-pencil"></i>{% endif %} &middot; 
            Posted on {{ page.date | date: "%B %-d, %Y" }}
        </p>
    </div>
</section>

<hr>

<!-- Post Content -->
<section class="inner-post-container">
    {{ content }}
</section>
<section class="post-tail">
    <!-- dead space + future pagination -->
</section>